<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD APP Canchas</title>
</head>

<body>


    <nav>
        <ul>
            <li>
                <a href="/">Inicio</a>
            </li>

            {% if user.is_authenticated %}
            <li>
                <a href="/task">Canchas</a>
            </li>
            <li>
                <a href="/task/create/">Crear Canchas</a>
            </li>

            <li>
                <a href="/logout">Cerrar Sesión</a>
            </li>

            {% else %}
            <li>
                <a href="/signup">Registro</a>
            </li>
            <li>
                <a href="/login">Iniciar Sesion</a>
            </li>
            {% endif %}
        </ul>

    </nav>


    {% block content %}
    {% endblock %}


</body>

</html>