{% extends 'base.html' %}

{% block content %}
<h1>Home</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam vel reiciendis iste qui quia quos quis, et eius porro
    recusandae voluptates, optio provident tenetur illum non error aperiam officiis nisi amet placeat explicabo quasi
    eligendi repellat. Ex excepturi nesciunt temporibus tempore qui neque delectus aliquid explicabo ea modi quis animi
    a, numquam accusantium aut quam eaque natus velit repellat. Maiores, quia maxime? Sed minima vero nostrum magni
    tenetur non eos porro? Quo voluptatem voluptates repellat sequi sunt molestiae assumenda iusto a doloremque. Optio,
    qui nisi deserunt quia quasi voluptatem ea? Perferendis voluptatibus blanditiis architecto, voluptates quaerat
    quisquam a! Aliquid, maiores?</p>
{% endblock %}